.navbar {
	/* position: fixed; */
	left: 0;
	top: 0;
	width: 100%;
	height: 75px;

}

.navbar__wrap {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.hamb {
	display: none;
}

.popup {
	display: none;
}

.logo {
	padding: 0 0 0 1%;
	text-decoration: none;
	color: var(--color-ordinary);
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.menu > li > a {
	text-decoration: none;
}

.navbar__wrap .menu {
	display: flex;
}

.navbar__wrap .menu > li {
	display: flex;
	align-items: stretch;
}

.navbar__wrap .menu > li > a {
	display: flex; 
	align-items: center;
	padding: 0 20px;
	color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu > li > a:hover {
	color: rgba(255, 255, 255, 1);
}











.nav__link {}

.menu > li > a {
	padding: 0 0 0 3px;
	position: relative;
	display: inline-block;
	color: var(--color-ordinary);
	font-family:'ST-Warmovie-personal', Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
	background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  	background-size: 200% 100%;
  	background-position: 100%;
  	transition: background-position 275ms ease;
  	overflow: hidden;
}

.menu > li > a:hover {
	background-position: 0 100%;
 }





@media (width <= 1024px) {
	.navbar__wrap .menu > li > a {
		padding: 0 5px;
	}
}

@media (width <= 768px) {
	.navbar__wrap .menu {
		display: none;
	}

	.hamb {
		display: flex;
		align-items: center;
	}

	.hamb__field {
		padding: 10px 20px;
		cursor: pointer;
	}

	.bar {
		display: block;
		width: 30px;
		height: 3px;
		margin: 10px auto;
		background-color: var(--color-ordinary);
		transition: 0.2s;
	}

	.popup {
		position: fixed;
		top: 60px;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 100;
		display: flex;
		transition: 0.7s;
	}

	.popup.open {
		left: 0;
	}

	.popup .menu {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		padding: 0;
		overflow: auto;
	}

	.popup .menu > li {
		width: 100%;
		
	}

	.popup .menu > li > a {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 20px 0;
		font-size: 20px;
		font-weight: bold;
		color: #3f3f3f;

	}

	.popup .menu > li > a:hover {
		background-color: rgba(122, 82, 179, 0.1);
	}



	.hamb__field.active .bar:nth-child(1) {
		transform: translateY(6px) rotate(130deg);
	}

	.hamb__field.active .bar:nth-child(2) {
		transform: translateY(-7px) rotate(-130deg);
	}

	body.noscroll {
		overflow: hidden;
	}
}

@media (width <= 320px) {}






